body{
  background-color: burlywood;
  margin:0;
  color:darkolivegreen;
  font-style: bold;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  background-color:lightsalmon;
  padding:3rem;
  border-radius: 1rem;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: center;
}

.title {
  margin:0;
  text-align: center;
}

.label {
  font-weight: bold;
}

.character-amount-container {
  display:flex;
  align-items: center;
}

.number-input {
  width: 4rem;
}

.password-display {
  background-color:navajowhite;
  color:black;
  padding:1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 350px;
  display:flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius:1rem;
}


.btn {
  grid-column: span 2;
  background-color: teal;
  border: 3px solid white;
  color:violet;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor:pointer;
  border-radius: 1rem;
}


.btn:hover {
  background-color: lightslategrey;
}